<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <logger name="io.netifi" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </logger>
        <logger name="io.rsocket.FrameLogger" level="ERROR" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </logger>
    </Loggers>
</Configuration>